* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 62.5%;
    text-decoration: none;
    
}
.banner {
    width: 100%;
    height: 80vh;
    background: url(/view.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.section1 {
    width:50%;
    position: fixed;
    top: 120px;
    left: 150px;
}
.banner h1 {
    width: 100%;
    font-size: 5.6rem;
    color: white;
    text-shadow: 1px 1px 5px black;

    animation: color 5s infinite;
}
@keyframes color {
    0%{
        color: white;
    }
    25%{
        color: tomato;
    }
    75%{
        color: black;
    }
    100%{color: white;}
}
.banner p {
    width: 100%;
    font-size: 2.5rem;
    color: white;
    text-shadow: 1px 1px 5px black;
    margin: 30px 0;
}
.section1 button {
    background-color: tomato;
    color: white;
    padding: 15px 20px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 30px;
    text-shadow: 1px 1px 5px black;
    margin-bottom: 30px;
}
.section1 button:hover {
    text-shadow: -1px -1px 5px black;
    color:black;
}
.section1 h3,i {
    font-size: 3rem;
    margin: 5px;
    color: white;
    text-shadow: 1px 1px 5px black;
}

form {
    width: 20%;
    height: auto;
    background-color: tomato;
    text-align: center;
    padding: 15px;

    position: relative;
    top: 120px;
    left: 70%;
}
.form h2 {
    font-size: 1.9rem;
    color: white;
}

.form label {
    display: block;
    font-size: 1.5rem;
    text-align: left;
    margin: 10px 0 10px 18px;
}
.form input {
    width: 90%;
    padding: 3px;
    border-radius: 2px;
    font-size: 1.2rem;
}
.form button {
    width: 70%;
    margin: 20px;
    padding: 10px;
    border-radius: 7px;
    font-size: 1.3rem;
    font-weight: bold;
    color: tomato;
}
footer {
    width: 100%;
    height: 20vh;
    background-color: white;
   
}
footer .symbols{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
footer .symbols i {
    font-size: 3.5rem;
    color: tomato;
    text-shadow: 0 0 0 ;
    margin: 45px 0 25px 0;
    position: relative;
}
.explanations {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}
.fa-heart {
    position: absolute;
    left: 33px;
}
.fa-calendar-alt {
    position: absolute;
    left: 20px;
}
.fa-users {
    position: absolute;
    left: 15px;
}
.fa-lock {
    position: absolute;
    left: -10px;
}